<!-- <footer class="footer-area footer--light">
  <div class="footer-big">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 offset-2">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
              <h4 class="footer-widget-title">Téléphone</h4>
              <ul>
                <li>
                  <a href="#">+221 33 839 66 00</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu">
              <h4 class="footer-widget-title">Email</h4>
              <ul>
                <li>
                  <a href="#">emploi@fpublique.gouv.sn</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu no-padding">
              <h4 class="footer-widget-title">Localisation</h4>
              <ul>
                <li>
                  <a href="#">52, Vincens x Abdou Karim BOURGI, Dakar</a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>© 2024 copyright-text <br>
              <a href="#">Ministère de la Fonction Publique et de la Réforme du Service Public</a>&nbsp;&nbsp; Plateforme de demande d'attestion de non-appartenance á la Fonction Publique !
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->

<div class="container-fluild text-center">
  <div class="row row1 align-items-end">
    <div class="col">
      <p>
        <b>Téléphone</b>
         <br>
        +221 33 839 66 00
      </p>
    </div>
    <div class="col">
      <p>
        <b>Email</b> 
        <br>
        emploi@fpublique.gouv.sn
      </p>
    </div>
    <div class="col">
      <p>
       <b> Localisation</b>
         <br>
        52, Vincens x Abdou Karim BOURGI, Dakar
      </p>
    </div>
     <img id="logo" src="https://fonctionpublique.gouv.sn/IMG/logo/logo-republique-du-senegal.png" alt="logo-republique-du-senegal">
    <div class="row row2">
      <p>© 2024 copyright &nbsp; 
        <a href="http://www.fonctionpublique.gouv.sn">~ 
            Ministère de la Fonction Publique et de la Réforme du Service Public</a>&nbsp;&nbsp;~ Plateforme de demande d'attestion de non-appartenance á la Fonction Publique (MFPRS)
      </p>
    </div>
  </div>
</div>