
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Attestation de non-appartenance</title>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <img class="animation__shake" style="margin-left: 240px; margin-right: 30px;" src="/assets/img/logominister.png" alt="logominister" height="55" width="55">
     <h5 style="letter-spacing: 2px;" >Ministére de la Fonction Publique <br> et de la Réforme du Service Public</h5>
     <img class="animation__shake" style="margin-left: 0px; margin-right: 0px;" src="/assets/img/logo-drapeua du senegal.png" alt="logominister" height="40" width="120">
    </nav>
  <aside class="main-sidebar elevation-4" style="background-color: #efeded;">

    <div class="sidebar" style="margin-top: 30px;">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/assets/img/logominister.png" class="img-circle elevation-2"  alt="User Image">
        </div>
        <div class="info">
          <a  href="#" class="d-block">{{fullName}}</a>
        </div>
       
      </div>

      <button class="btn btn-warning" (click)="logout()">Deconnecter</button>
      <nav class="mt-2">
        <ul style="margin-top: 75px;" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item menu-is-opening menu-open">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p >
                  <span style="color:black;">Listes De Demandes</span>
                <img src="/assets/icons/fleche-droite.png" alt="" width="12px" height="12px">
                </p>
              </a>
              <ul  class="nav nav-treeview" style="display: block;">
                <li class="nav-item">
                  <a style="margin-top: 10px; font-size: 13px; color: skyblue;"  href="" class="nav-link">
                    <img src="/assets/icons/la-fleche.png" alt="" width="12px" height="12px">

                    <p>Tous les Demandes</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a style="font-size: 13px; color: rgb(212, 212, 5);" href="" class="nav-link">
                    <img src="/assets/icons/la-fleche.png" alt="" width="12px" height="12px">
                    <p>Demandes En Cours</p>
                    
                  </a>
                </li>
                <li class="nav-item">
                  <a style="font-size: 13px;color: yellowgreen;" href="" class="nav-link">
                    <img src="/assets/icons/la-fleche.png" alt="" width="12px" height="12px">
                    <p>Demandes Approuvées</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a style="font-size: 13px; color: red;" href="" class="nav-link">
                    <img src="/assets/icons/la-fleche.png" alt="" width="12px" height="12px">
                    <p>Demandes Rejeteés</p>
                  </a>
                </li>
              </ul>
            </li>
        </ul>
      </nav>
    </div>
  </aside>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <app-admin-dasboard></app-admin-dasboard>
      <router-outlet></router-outlet>

    </section>
   
  </div>
  <footer class="main-footer">
    <strong>Copyright &copy; 2024 <a href="#">Attestation</a>.</strong>
    Ministére de la Fonction Publique et de la réforme du Service Publique
    <div class="float-right d-none d-sm-inline-block">
      <b>République du SENEGAL</b> 
    </div>
  </footer>
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
</div>
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>

</body>
</html>
