<div class="container">

  <h1>
    bonjour
  </h1>
          <table  class="table table-striped">
  
              <tbody>
                  <tr>
                      <th>Prenom:</th>
                      <td>{{ demande.demandeurDTO?.prenom }}</td>
                  </tr>
                  <tr>
                      <th>Nom:</th>
                      <td>{{ demande.demandeurDTO?.nom }}</td>
                  </tr>
                  <tr>
                      <th>date naissance:</th>
                      <td>{{ demande.demandeurDTO?.datedenaissance }}</td>
                  </tr>
                  <tr>
                      <th>lieu de naissance:</th>
                      <td>{{ demande.demandeurDTO?.lieudenaissance }}</td>
                  </tr>
                
                
              </tbody>
          </table>

  
  
  </div>
  