<app-head></app-head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   <title>Completez les informations</title>
</head>
<body>
    <div class="container">
        <header> Changez votre mot de passe</header>
        <form [formGroup]="setPasswordForm">
            <div class="">
                <div class="details personal">
                    <div class="fields">
                        <div class="input-field">
                          <label>Ancien Mot de Passe<span style="color: red; font-size: 15px;">*</span></label>
                            <input type="password" formControlName="oldPassword" placeholder="Ancient Mot de Passe">
                            <div style="color: red;" *ngIf="setPasswordForm.controls.oldPassword.touched && setPasswordForm.controls.oldPassword.invalid">
                              <span *ngIf="setPasswordForm.controls.oldPassword.errors.required">ancient mot de passe!</span>
                            </div>
                        </div>
                        <div class="input-field">
                          <label>Nouveau Mot de Passe<span style="color: red; font-size: 15px;">*</span></label>
                          <input type="password" formControlName="newPassword" placeholder="Nouveau Mot de passe" pattern=".{6,}">
                          <div style="color: red;" *ngIf="setPasswordForm.controls.newPassword.touched && setPasswordForm.controls.newPassword.invalid">
                            <span *ngIf="setPasswordForm.controls.newPassword.errors.required">saisir votre nouveau mot de passe!</span>
                            <span *ngIf="setPasswordForm.controls.newPassword.errors.pattern">minumun une longueur de 6</span>
                          </div>

                      </div>
                      <div class="input-field">
                        <label>Confirme Nouveau Mot de Passe<span style="color: red; font-size: 15px;">*</span></label>
                        <input  type="password" formControlName="confirmPassword" placeholder="confirme nouveau mot de passe" pattern=".{6,}">
                        <div style="color: red;" *ngIf="setPasswordForm.controls.confirmPassword.touched && setPasswordForm.controls.confirmPassword.invalid">
                          <span style="color: red;" *ngIf="setPasswordForm.controls.newPassword.errors.pattern">minumun une longueur de 6</span>
                          <span *ngIf="setPasswordForm.controls.confirmPassword.errors.required">confirmer votre mot de passe</span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="details ID">
                    <div class="button-a">
                      <button class="nextBtn" type="submit">
                        <span style="color: red;" class="btnText" style="color: white;"  (click)=" handleSubmit() ; checkPassword(); deconnect()">Complétez</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                    <button class="nextBtn" routerLink="/formule" style="color:white; background-color: red;">
                      <span class="btnText">Annuler</span>
                      <i class="uil uil-navigator"></i>
                      <span class="mdi--cancel-bold"></span>
                  </button>
                    </div>
                </div> 
            </div>
        </form>
    </div>
</body>
</html>
<app-footer></app-footer>