<app-head></app-head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   <title>Completez les informations</title>
</head>
<body>
    <div class="container">
        <header>Modification de Données</header>
        <form>
            <div class="form first">
                <div class="details personal">
                    <!-- <span class="title">Informations Personnelles</span> -->
                    <div class="fields">
                        <div class="input-field">
                            <label><b>CNI</b></label>
                            <input type="text" type="text"[(ngModel)]= "demandeur.nin" name="nin" placeholder="Saisir votre Numéro CNI">
                          
                          
                        </div>
                        <div class="input-field">
                          <label><b>Prénom</b></label>
                            <input type="text" [(ngModel)]="demandeur.prenom" name="prenom" placeholder="Sairir votre Prénom">
                        </div>
                        <div class="input-field">
                          <label><b>Nom</b></label>
                            <input type="text" [(ngModel)]="demandeur.nom"  name="nom" placeholder="Saisir votre Nom">
                        </div>

                        <div class="input-field">
                            <label><b>Date de Naissance</b></label>
                            <input type="date" [(ngModel)]="demandeur.datedenaissance" name="datedenaissance">
                        </div>
                        <div class="input-field">
                          <label><b>Lieu de Naissance</b></label>
                          <input type="text" [(ngModel)]="demandeur.lieudenaissance" name="lieudenaissance">
                      </div>

                      <div class="input-field">
                        <label><b>Email</b></label>
                        <input type="text" [(ngModel)]="demandeur.email" name="email">
                    </div>
                      
                        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
                          <p style="font-size: 20px; color: white">En cours...</p>
                        </ngx-spinner>
                    </div>
                </div>
                <div class="details ID">
                    <div class="fields">
                        <div class="input-field">
                            <label><b>Adresse</b></label>
                            <input type="text" [(ngModel)]="demandeur.adresse" name="adresse">
                        </div>

                        <div class="input-field">
                            <label><b>Téléphone</b></label>
                            <input type="text" [(ngModel)]="demandeur.telephone" name="telephone">
                        </div>

                        <div class="input-field">
                            <label><b>Fonction</b></label>
                            <input type="text" [(ngModel)]="demandeur.fonction" name="fonction">
                        </div>

                        <div class="input-field" style="width: 100%;">
                            <label><b>Scanner CNI</b></label>
                            <input type="file" [(ngModel)]="demandeur.scannernin" name="scannernin">
                        </div>

                    </div>
                    <div class="button-a">
                      <button class="nextBtn" type="submit">
                        <span style="color: red;" class="btnText" style="color: white;"  (click)="onUpdate() ; openSpinner()">Modifier</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                    <button class="nextBtn" routerLink="/formule" style="color:white; background-color: red;">
                      <span class="btnText">Annuler</span>
                      <i class="uil uil-navigator"></i>
                      <span class="mdi--cancel-bold"></span>
                  </button>
                    </div>
                    
                </div> 
            </div>

        </form>
    </div>
</body>
</html>
<app-footer></app-footer>