  <div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    
  </div>
  
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="container-fluid">
  <div class="row nav-links">
    <div class="col-12">
      <div class="header-content">
        <div class="senegal-logo">
          <a href="http://www.fonctionpublique.gouv.sn">
            <img id="logo" src="https://fonctionpublique.gouv.sn/IMG/logo/logo-republique-du-senegal.png" alt="logo-republique-du-senegal">
          </a>
          <!-- end logo -->
          <p class="rds">République du Sénégal</p>
          <p class="pbf"> Un peuple, Un but, Une foi </p>
        </div>
        <div class="navbar-header navbar-header-custom">
          <a href="http://www.fonctionpublique.gouv.sn" class="navbar-brand">
            <img id="logo" src="https://fonctionpublique.gouv.sn/IMG/logo/ministe_re_de_la_fonction_publique_et_de_la_transformation_du_secteur_public.png" alt="Ministère de la Fonction Publique Et de la Réforme du Service public"></a>
       <p class="text">
            <a href="http://www.fonctionpublique.gouv.sn" class="navbar-brand mfpnom">  Ministère de la Fonction Publique <br> Et de la Réforme du Service public</a>
        </p>
        </div>
        <button [hidden]="isLogin" class="btn btn-success"><a routerLink="/connecter"><img src="/assets/header/images/icons8-signup-64.png" width="15px" height="15px">  Se Connecter</a></button>
        <div class="dropdown" [hidden]="!isLogin" >
         <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle dropbtn" alt="Black and White Portrait of a Man" loading="lazy"/>
          <div class="dropdown-content" style="float:right;">
            <a routerLink="/connecter" *ngIf="!isLogin">Connecxion</a>
            <a (click)="deconnect()" *ngIf="isLogin">Deconnexion</a>
            <a [routerLink]="['/password']">Changer le Mot de Passe</a>
            <a [routerLink]="['/update-demandeur', demandeur.id]">Modifier</a>
            <a [routerLink]="['/espaceClient', demandeur.id]">Mon Espace</a>
           

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
  <h1>Plateforme de Demande d'attestation de non-appartenance á la Fonction Pulbique</h1>
