<app-head></app-head>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   <title>Completez les informations</title>
</head>
<body>
    <div class="container">
        <header>vous êtes entrain de réinitialiser votre mot de passe</header>
        <form [formGroup]="PasswordForm">
            <div class="">
                <div class="details personal">
                    <div class="fields">
 
                        <div class="input-field">
                          <label>Nouveau Mot de Passe<span style="color: red; font-size: 15px;">*</span></label>
                            <input type="text" placeholder="Nouveau mot de password" formControlName="newPassword">
                        </div>

                        <div class="input-field">
                          <label>Confirme Nouveau Mot de Passe<span style="color: red; font-size: 15px;">*</span></label>
                          <input type="text"  placeholder="confirme votre nouveau mot de passe" formControlName="confirmPassword">

                      </div>
                    </div>
                </div>
                <div class="details ID">

                    <div class="button-a">
                      <button class="nextBtn" type="submit" [disabled]="PasswordForm.invalid" (click)="handleSubmit(); openSpinner()" [disabled]="(PasswordForm.invalid)">
                        <span style="color: red;" class="btnText" style="color: white;">Complétez</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                    <button class="nextBtn" routerLink="/formule" style="color:white; background-color: red;">
                      <span class="btnText">Annuler</span>
                      <i class="uil uil-navigator"></i>
                      <span class="mdi--cancel-bold"></span>
                  </button>
                    </div>
                    
                </div> 
            </div>

        </form>
    </div>
</body>
</html>