@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { 
        /* background-image: url("src/assets/act/l3.jpg"); */
        background-size: 100% auto;
        /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-color: #f2f2f2;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tac{
    min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  
    }

    .container{
        padding-top: 40px;
    }
    
